.footer{
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    @media only screen and (max-width: $bp-smallest){
        padding: 6rem;
    }
}

.nav{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;


    &__item{
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        display: block;
        padding: 1.5rem;
        transition: all .2s;
        
    }

    &__link:hover,
    &__link:active{
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.link:link,
.link:visited{
    color: $color-grey-light-2;
    padding: 3px;
    display: inline-block;
    transition: all .2s;
    backface-visibility: hidden;
}

.link:hover,
.link:active{
    color: #fff;
    transform: rotate(4deg) scale(1.1) translateY(0);
}


.copyright{
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
}